:root{
    --offWhite:#edf0ee;
    --gray:#606462;
    --midGray:#d5d8d6;
    --darkGreen:#00493a;
    --liteGreen:#00735c;
    --darkRed:#7a0000;
    --liteRed:#ec0202;
}
body{
    background-color: var(--offWhite);
    font-family: 'Roboto';
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
}

.outerLoginContainer{
    display: grid;
    justify-content: center;
}
.loginContainer{
    background-color: var(--midGray);
    width: 300px;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 16px;
}
.loginform{
    display: grid;
    grid-template-rows:50px 50px 50px 23px 46px 30px 20px 50px;
}
.loginform div:nth-child(1){
    color: var(--liteRed);
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}
.loginform div:nth-child(2){
    color: var(--gray);
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.inputBox{
    position: relative;
}
.inputBox input{
    width: 170px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: var(--offWhite);
    padding-left: 60px;
    color: var(--gray);
    font-size: 16px;
}
input[type="checkbox"]
{
    accent-color: var(--liteGreen);
    height: 15px;
    width: 15px;
}
.checkpassword
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
.loginform span
{
    display: flex;
    flex-direction: column;
}
.inputBox input ::placeholder{
    font-family: 'Roboto';
    color: var(--gray);
    font-size: 16px;
}
.inputBox input:focus{
    font-weight: 600;
    font-family: 'Roboto';
}
.inputBox i{
    position: absolute;
    left: 0;
    transform: translate(400%, 80%);
    color: var(--gray);
}
.Loginbutton{
    width: 100px;
    height: 30px;
    font-family: 'Roboto';
    border: none;
    color: var(--offWhite);
    background-color: var(--liteGreen);
    border-radius: 50px;
    margin-left: 100px;
    font-size: 16px;
    margin-top: 10px;
}
.Loginbutton:hover{
    cursor: pointer;
    background-color: var(--darkGreen);
}

.createbutton
{
    text-align: center;
    font-family: 'Roboto';
    border: none;
    color: var(--offWhite);
    background-color: var(--liteGreen);
    border-radius: 50px;
    font-size: 16px;
    margin-top: 15px;
    padding: 7px 9px;
    text-decoration: none;
}
.changepassword
{
    text-decoration: none;
    color: var(--liteRed);
}